@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*테스트용 배경이에요*/
  background-color: #0f172a;
  color: #fff;
}

button,
input,
textarea {
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

textarea::-webkit-scrollbar,
span::-webkit-scrollbar {
  display: none;
}

@layer components {
  .modal-overlay {
    @apply fixed left-0 top-0 z-20 h-full w-full bg-[#00000050];
  }

  .modal-container {
    @apply fixed left-1/2 top-1/2 z-30 -translate-x-1/2 -translate-y-1/2 rounded-12 bg-[#1E293B];
  }
}
