@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*테스트용 배경이에요*/
  background-color: #0f172a;
}

button,
input,
textarea {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: "Pretendard";
}

textarea::-webkit-scrollbar,
span::-webkit-scrollbar {
  display: none;
}
